/* importing font families from google fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* universal style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* shared styles */

.inter-font {
  font-family: "Inter", sans-serif;
}

.raleway-font {
  font-family: "Raleway", sans-serif;
}

.text-primary {
  color: rgb(78, 71, 255);
}

.bg-primary {
  background-color: rgb(78, 71, 255);
}

/* header styles */

header {
  background: url("./../Assets/Hero-bg.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  width: 1140px;
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 34px;
  color: rgb(78, 71, 255);
  line-height: 150%;
}

.nav-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #ffffff;
  border-radius: 10px;
  padding: 12px 36px;
  border: none;
}

/* hero box styles */

.hero-box {
  width: 905px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 37px;
  margin: 158px 0 152px;
}

.hero-box h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 65px;
  color: rgb(37, 36, 50);
  text-align: center;
}

.hero-box button {
  padding: 12px 36px;
  border-radius: 10px;
  background: rgb(78, 71, 255);
  border: none;
  color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
}

/* main tag styles */

main {
  display: flex;
  flex-direction: column;
  padding: 116px 150px 15px;
}

/* action secition */

.action-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 116px;
}

.action-text-column {
  width: 517px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
}

.action-text-column h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 42px;
  color: #252432;
}

.action-text-column p {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: rgba(37, 36, 50, 0.5);
}

.action-text-column button {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  text-align: center;
  color: #ffffff;
  padding: 12px 36px;
  border-radius: 10px;
  background-color: rgb(78, 71, 255);
  border: none;
}

.action-section img {
  width: 403px;
  height: 328px;
  border-radius: 48px;
}
